<strong>Olá {{deliveryman}}</strong>
<p>A encomenda abaixo foi cancelada:</p>
<p>
  <strong>Destinatário: </strong> {{recipient}} <br />
  <strong>Produto: </strong> {{product}} <br />
  <strong>Problema que ocasionou o cancelamento: </strong> {{problem}} <br />
</p>
