<strong>Olá {{deliveryman}}</strong>
<p>Uma nova encomenda está disponível para retirada. Confira nos detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{recipient}} <br />
  <strong>Produto: </strong> {{product}} <br />
</p>
